---
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const {
  title = "Evalix | Precisión Académica",
  description = "Evalix es la plataforma de corrección automática de exámenes con procesamiento local rápido, seguro y flexible.",
} = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
		<meta name="google-site-verification" content="ZZ0hCR9GKEuI2sjMmp0aeit_zA8UBR0Aomn-lV5cR7k" />

    <title>{title}</title>
    <meta name="description" content={description} />

    {/* Open Graph */}
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Evalix" />

    {/* Twitter */}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
  </head>
  <body class="bg-white selection:bg-blue-100 selection:text-[#0B3D91]">
    <slot />
  </body>
</html>
